<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="sl4-wp71" developmentDependency="true" />
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
</packages>